<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.dao.CarMapper">
	<resultMap id="BaseResultMap" type="com.woniu.domain.Car">
		<id column="caid" jdbcType="INTEGER" property="caid" />
		<result column="uid" jdbcType="INTEGER" property="uid" />
		<result column="sid" jdbcType="INTEGER" property="sid" />
		<result column="fname" jdbcType="VARCHAR" property="fname" />
		<result column="fprice" jdbcType="DOUBLE" property="fprice" />
		<result column="fphoto" jdbcType="VARCHAR" property="fphoto" />
		<result column="ccount" jdbcType="INTEGER" property="ccount" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value"
										item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value"
										item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		caid, uid, sid, fname, fprice, fphoto, ccount
	</sql>
	<select id="selectByExample"
		parameterType="com.woniu.domain.CarExample" resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from car
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from car
		where caid = #{caid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from car
		where caid = #{caid,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample"
		parameterType="com.woniu.domain.CarExample">
		delete from car
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.woniu.domain.Car">
		insert into car (caid, uid,
		sid,
		fname, fprice, fphoto,
		ccount)
		values (#{caid,jdbcType=INTEGER},
		#{uid,jdbcType=INTEGER},
		#{sid,jdbcType=INTEGER},
		#{fname,jdbcType=VARCHAR}, #{fprice,jdbcType=DOUBLE},
		#{fphoto,jdbcType=VARCHAR},
		#{ccount,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective"
		parameterType="com.woniu.domain.Car">
		insert into car
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="caid != null">
				caid,
			</if>
			<if test="uid != null">
				uid,
			</if>
			<if test="sid != null">
				sid,
			</if>
			<if test="fname != null">
				fname,
			</if>
			<if test="fprice != null">
				fprice,
			</if>
			<if test="fphoto != null">
				fphoto,
			</if>
			<if test="ccount != null">
				ccount,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="caid != null">
				#{caid,jdbcType=INTEGER},
			</if>
			<if test="uid != null">
				#{uid,jdbcType=INTEGER},
			</if>
			<if test="sid != null">
				#{sid,jdbcType=INTEGER},
			</if>
			<if test="fname != null">
				#{fname,jdbcType=VARCHAR},
			</if>
			<if test="fprice != null">
				#{fprice,jdbcType=DOUBLE},
			</if>
			<if test="fphoto != null">
				#{fphoto,jdbcType=VARCHAR},
			</if>
			<if test="ccount != null">
				#{ccount,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="com.woniu.domain.CarExample"
		resultType="java.lang.Long">
		select count(*) from car
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update car
		<set>
			<if test="record.caid != null">
				caid = #{record.caid,jdbcType=INTEGER},
			</if>
			<if test="record.uid != null">
				uid = #{record.uid,jdbcType=INTEGER},
			</if>
			<if test="record.sid != null">
				sid = #{record.sid,jdbcType=INTEGER},
			</if>
			<if test="record.fname != null">
				fname = #{record.fname,jdbcType=VARCHAR},
			</if>
			<if test="record.fprice != null">
				fprice = #{record.fprice,jdbcType=DOUBLE},
			</if>
			<if test="record.fphoto != null">
				fphoto = #{record.fphoto,jdbcType=VARCHAR},
			</if>
			<if test="record.ccount != null">
				ccount = #{record.ccount,jdbcType=INTEGER},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update car
		set caid = #{record.caid,jdbcType=INTEGER},
		uid =
		#{record.uid,jdbcType=INTEGER},
		sid = #{record.sid,jdbcType=INTEGER},
		fname = #{record.fname,jdbcType=VARCHAR},
		fprice =
		#{record.fprice,jdbcType=DOUBLE},
		fphoto =
		#{record.fphoto,jdbcType=VARCHAR},
		ccount =
		#{record.ccount,jdbcType=INTEGER}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.woniu.domain.Car">
		update car
		<set>
			<if test="uid != null">
				uid = #{uid,jdbcType=INTEGER},
			</if>
			<if test="sid != null">
				sid = #{sid,jdbcType=INTEGER},
			</if>
			<if test="fname != null">
				fname = #{fname,jdbcType=VARCHAR},
			</if>
			<if test="fprice != null">
				fprice = #{fprice,jdbcType=DOUBLE},
			</if>
			<if test="fphoto != null">
				fphoto = #{fphoto,jdbcType=VARCHAR},
			</if>
			<if test="ccount != null">
				ccount = #{ccount,jdbcType=INTEGER},
			</if>
		</set>
		where caid = #{caid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.woniu.domain.Car">
		update car
		set uid = #{uid,jdbcType=INTEGER},
		sid =
		#{sid,jdbcType=INTEGER},
		fname = #{fname,jdbcType=VARCHAR},
		fprice =
		#{fprice,jdbcType=DOUBLE},
		fphoto = #{fphoto,jdbcType=VARCHAR},
		ccount =
		#{ccount,jdbcType=INTEGER}
		where caid = #{caid,jdbcType=INTEGER}
	</update>




	<select id="findByUid" resultMap="rm">
		SELECT * FROM car c JOIN users
		u ON c.`uid`=u.`uid`
		JOIN shop s ON c.`sid`=s.`sid`
		WHERE u.`uid`=#{uid}
	</select>
	<resultMap type="com.woniu.domain.Car" id="rm">
		<id property="caid" column="caid"></id>
		<result property="fname" column="fname" />
		<result property="fprice" column="fprice" />
		<result property="fphoto" column="fphoto" />
		<result property="ccount" column="ccount" />
		<collection property="user" column="uid"
			select="com.woniu.dao.UsersMapper.findUserByUid">
		</collection>
		<collection property="shop" column="sid"
			select="com.woniu.dao.ShopMapper.selectByPrimaryKey">
		</collection>
	</resultMap>
	
	
	<select id="findBySidAndUid" resultMap="rm1">
		SELECT * FROM car c JOIN users
		u ON c.`uid`=u.`uid`
		JOIN shop s ON c.`sid`=s.`sid`
		WHERE u.`uid`=#{uid}
		AND s.`sid`=#{sid}
	</select>
	<resultMap type="com.woniu.domain.Car" id="rm1">
		<id property="caid" column="caid"></id>
		<result property="fname" column="fname" />
		<result property="fprice" column="fprice" />
		<result property="fphoto" column="fphoto" />
		<result property="ccount" column="ccount" />
		<collection property="user" column="uid"
			select="com.woniu.dao.UsersMapper.findUserByUid">
		</collection>
		<collection property="shop" column="sid"
			select="com.woniu.dao.ShopMapper.selectByPrimaryKey">
		</collection>
	</resultMap>
	
	<select id="findPrice" parameterType="java.lang.Integer" resultType="java.lang.Double">
	    SELECT SUM(fprice*ccount) FROM car WHERE uid=#{uid}
	</select>
</mapper>